// styles.scss
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

select, input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black; // Asegura que el texto del input sea negro
}


.formatted-amount {
  color: black;
  font-weight: bold;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  max-width: 300px;
}

.currency-input {
  font-size: 16px; // Tamaño de fuente normal
}


.currency-input small {
  font-size: 0.8em; /* Ajusta el tamaño como prefieras */
}

.decimal-part {
  font-size: 0.8em; /* Ajusta el tamaño como prefieras */
}

.input-container {
  .currency-input {
    border: 1px solid #ccc; // Ajusta según el diseño
    padding: 8px;
    font-size: 16px; // Ajusta según el diseño
  }

  .decimal-part {
    font-size: 12px; // Más pequeño para la parte decimal
    color: #666; // Color diferente para la parte decimal
    padding-left: 2px;
  }
}




  